@import 'sass-bootstrap/lib/bootstrap';
@import url(http://fonts.googleapis.com/css?family=Fjalla+One);
@import url(http://fonts.googleapis.com/css?family=Roboto:400,300);


body {
  background-color: #A1A1A1;  
  color: #7f8c8d;    
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-weight: 400;
  padding-bottom:40px; 
  padding-top:20px; 
}

h1, h2 , h3, h4, h5, {
  font-family: "Fjalla One", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: #333;
  margin: 0;
  padding: 0;
}

p {
  font-family: "Roboto";
  font-weight: 300;
  font-size: 16px;
}

ul {
    list-style: none;
}

i {
  margin-right: 3px;
}
a:hover {
  color: #006291;
  text-decoration: none;
}

/* container */
.container-fluid  { 
  max-width: 860px; 
  margin: 0 auto;
}
.wrapper {
  background-color: #ecf0f1;
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset;
     -moz-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset;
          box-shadow: 0 1px 6px rgba(0, 0, 0, 0.30), 0 0 40px rgba(0, 0, 0, 0.10) inset;  
  padding: 50px 40px 19px 40px;  
}
.my-info, 
.my-message, 
.my-skill, 
.my-specifics, 
.my-venture, 
.my-venture > span {
  font-size: 16px;
  font-weight: 400;
}

.my-message {
  font-weight: 100;
}

.contact, 
.heading, 
#portfolio,#portfolio2,
.resume {
  margin: 0 0 45px 0;
}

.social-icons {
  margin: 0 auto;
  position: relative;
  display: inline-block;
  margin-bottom: 4%;
  margin-left: 5%;

  .iconic {
    font-size: 3em;
    padding: 4%;
    margin-right: 0px;

    i {
      color: rgba(17, 17, 1, .1);
    }
    

    &:hover {
      i.icon {
        color: rgba(17, 17, 1, .8);
      }
    }
  }
}


/* the header portion */
.my-picture {
  background-color: #ecf0f1;
  border: 1px solid #95a5a6;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
     -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  float: left;
  margin: 0 20px 5px 0;
  padding: 4px;
}
.my-name {
  color: #2c3e50;
  font-size: 24px;
  line-height: 34px;
  text-transform: uppercase;
}
.my-profession, 
.my-services {
  font-size: 16px; 
  line-height: 34px;
}
.my-profession {
  color: #3498db;
}
.my-services {
  margin-top: 34px;
}
.my-services > a {
  float: right; 
}

/* resume */
.resume > .span8 {
  padding-right: 10%;
}

#headline {
  border-bottom: 1px dotted #95a5a6;
  color: #95a5a6;
  font-size: 24px;
  font-weight: 200;
  line-height: normal;
  margin-top: 1%;
  margin-bottom: 3%;
  text-transform: uppercase;
}
.my-caption {
  color: #95a5a6;
  font-size: 16px;
  font-weight: 200;
  line-height: normal;
  margin-top: 1%;
  margin-bottom: 5%;
  text-transform: uppercase;
  letter-spacing: 1px;

  i {
    &:hover {
      color: red;
      @include scale(1.5);
    }
  }

  &.subcaption {
      color: #999;
      font-size: 12px;
      margin-bottom: 7%;
      margin-top: 0px;
  }
}
.wrapper > .my-caption {
  margin-bottom: 11px;
}
.my-activity {
  font-weight: 300;
  margin-top: 4px;
  margin-left: 2%;

  .label {
      font-size: 9px;
      line-height: 11px;
      padding: 1px 2px;
      border-radius: 0px;
      -webkit-border-radius: 0px;
      vertical-align: bottom;
      margin: 1%;

      &:hover {
        color: green;
      }
  }
}

.my-venture {
    max-width: 60px;
    margin-top: 5px;
    line-height: 11px; 
    font-size: 12px;
    
    span {
      line-height: 2.0em;
      
      small {
        color: gray;
        font-size: 60%;
      }
    }
}

.my-specifics {
  margin-top: 5px;
  margin-bottom: 10px;
  min-width: 50%;
  font-size: 14px;
  margin-left: 10px;

  .label {
    line-height: 17px;
    @include translucent-background(#ecf0f1, 0);
    border: 1px dotted #95a5a6;
    font-family:Roboto;
    font-weight: 300;
    color: #222;
    margin-right: 6%;
    margin-top: 3%;
    padding: 1.5%;
    text-shadow: none;
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
-webkit-transition: all 200ms cubic-bezier(0.550, 0.085, 0.680, 0.530); 
   -moz-transition: all 200ms cubic-bezier(0.550, 0.085, 0.680, 0.530); 
    -ms-transition: all 200ms cubic-bezier(0.550, 0.085, 0.680, 0.530); 
     -o-transition: all 200ms cubic-bezier(0.550, 0.085, 0.680, 0.530); 
        transition: all 200ms cubic-bezier(0.550, 0.085, 0.680, 0.530); /* easeInQuad */

-webkit-transition-timing-function: cubic-bezier(0.550, 0.085, 0.680, 0.530); 
   -moz-transition-timing-function: cubic-bezier(0.550, 0.085, 0.680, 0.530); 
    -ms-transition-timing-function: cubic-bezier(0.550, 0.085, 0.680, 0.530); 
     -o-transition-timing-function: cubic-bezier(0.550, 0.085, 0.680, 0.530); 
        transition-timing-function: cubic-bezier(0.550, 0.085, 0.680, 0.530); /* easeInQuad */


    &:hover {
      @include border-radius(50px);
      @include translucent-background(#2ecc71, .5);
      border: 1px #ecf0f1 solid;
      color: #ecf0f1;
      font-weight: 400;
      font-style: condensed;
    }
  }


}


.my-specifics > ul {
    list-style: none;
}
.my-skill {
  padding: 5%;
  padding-left: 2%;
  padding-right: 20%;
  padding-top: 1px;
  min-width: 200px;
  font-weight: 400;
  @include transition(all .5s ease-in-out);

  &:hover {
      code {
        color: #222;
        @include translucent-background(#2ecc71, .5);
      }
      span i {
        color: #2ecc71;
      }
}

&.tool {
  &:hover {
    code {
      @include translucent-background( #2ecc71, .5);
    }
    span i {
      color: #2ecc71;
    }
  }
}
&.design {
  &:hover {
    code {
      @include translucent-background(#2ecc71, .5);
    }
    span i {
      color: #2ecc71;
    }
  }
}
}
.my-skill + .my-skill {
  padding-bottom: -1px;
}
.my-skill > span {
  float: right;
  margin-right: 10%;
  font-size: 10px;
  font-weight: 400;
  margin: 1px 0 0 0;
  padding-left: 1px;

  a {
      color: #888;

      i.icon-2x {
          font-size: 2em;
          @include transition(font-size 0.2s);
      }
  }
}

.my-caption + .my-venture,
.my-caption + .my-specifics, 
.my-caption + .my-info {
    margin-top: 5px;
    margin-left: 5px;

}
.my-caption + .my-skill {
    margin-top: 4px;
}

/* portfolio */
#portfolio, #portfolio2 {
  margin-bottom: 40px;
  margin-top: 40px;
}

.portfolio-item {
  display: inline-block;
  margin-bottom: 8px;
  vertical-align: top;
  width: 215px;

}

#portfolio2 {
  .portfolio-item {
    h5 {
      line-height: 1.3em;
      font-weight: bold;
      color: #555;
    }

    &:hover {
      h5 {
        color: #333;
      }
    }
  }



  .portfolio-item a {
    img {
      margin-bottom: 5%;
      border: 1px solid #bdc3c7;
    }

    &:hover {
      h5 {
        color: #e74c3c;
        font-size: .9em;
        font-weight: bold;
      }
    }
  }
  .portfolio-item:last-child {
    img {
      margin-left: 0%;
      margin-top: 0%;
      margin-right: 0%;
    }

    &:before{
    }
  }
}

.portfolio-item > img {
  max-width: 100%;
  /*margin-bottom: -1px;*/
}
.portfolio-details {
  border: 1px solid #D1D1D1;
  padding: 6px 6px 5px 6px;

  &:hover {

    h4 {
    color: #e74c3c;
    }

  }
}
.portfolio-details > h4 {
  color: #3c3c3c;
  font-size: 14px; 
  font-weight: 600;
  line-height: normal;
  margin-bottom: 3px;
  text-transform: uppercase;
}
.portfolio-details > p {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.4;
  margin-top: 5px;
}
.portfolio-details > p + img {
  margin-top: 10px;
  margin-bottom: 5px;
}
.portfolio-details > h4 + img {
  margin-top: 7px;
  margin-bottom: 5px;
}
.portfolio-details > img + h4 {
   margin-top: 10px;
}
.portfolio-details a {
  font-size: 14px;
  font-weight: 400;
}
.portfolio-details i {
  font-size: 14px;
  font-weight: normal;
}
.portfolio-links {
  margin-top: 10px !important;
}

#portfolio2 .portfolio-item {
  width: 430px;

}
.iconic {
  font-size: 1.3em;
  float: left;
  margin-right: 5px;
  margin-bottom: -10px;

    &:hover {
      /*font-size: 1.4em;*/
    }

  a {
    color: #3498db;
  }

}


@media (min-width: 768px) and (max-width: 979px) {

  .wrapper {
    padding: 50px 30px 19px 30px;  
  }

}

@media (min-width: 768px) and (max-width: 768px) {
  
  body {
    padding: 0;
  }
  .wrapper {
    padding: 50px 30px 19px 30px;  
  }

}

@media (min-width: 569px) and (max-width: 767px) {
  
  body {
    padding: 0;
  }
  .wrapper {
    padding: 40px 30px 0px 30px;  
  }
  .contact, 
  .heading, 
  #portfolio, #portfolio2, #portfolio3, #portfolio4, 
  .resume {
    margin: 0 0 25px 0;  
  }

  .row-fluid .span8 {
    width: 100%;

    p {
      font-size: 18px;
      line-height: 26px;
    }
  }
  .row-fluid .span4 {
    width: 100%;
    padding: 4%;

    code {
      font-size: 18px;
    }

    a i.icon-2x {
      font-size: 3.0em;
    }
  }

.iconic {
  font-size: 3.3em;
  float: left;
  padding: 1%;
  margin-right: 8%;
  margin-bottom: -10px;

  &:last-child {
    margin-top: -6px;
    font-size: 2.35em;
  }

    &:hover {
      /*font-size: 1.4em;*/
    }

  a {
    color: #3498db;
  }

}

}

@media (min-width: 240px) and (max-width: 568px) {

  body {
    padding: 0;
  }
  .wrapper {
    padding: 25px 20px 0px 20px;  
  }
  .contact,
  .heading,
  #portfolio, #portfolio2,
  .resume {
    margin: 0 0 25px 0;
  }

  .my-picture {
    width: 70px;
    margin: 0px 10px 0px 0px;
  }
  .my-name {
    font-size: 24px; 
    line-height: 20px;
  }
  .my-profession {
    font-size: 14px;
    line-height: 24px;
  }
  .my-message {
    line-height: 16px; 
  }
  .my-services {
      font-size: 14px;
      line-height: 24px;
      margin-top: 10px;
  }
  #portfolio, #portfolio2 p {
    font-size: 16px;
  }

  .row-fluid .span8 {
    width: 100%;

    p {
      font-size: 18px;
      line-height: 26px;
    }
  }
  .row-fluid .span4 {
    width: 100%;
    padding: 4%;

    code {
      font-size: 18px;
    }

    .portfolio-details > p {
      font-size: 18px;
      line-height: 28px;
    }
}


.iconic {
  font-size: 3.3em;
  float: left;
  margin-bottom: -10px;
  padding: 5%;

  &:last-child {
    margin-top: -5px;
  }

    &:hover {
      /*font-size: 1.4em;*/
    }

  a {
    color: #3498db;
  }

}
}



